html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 80px;
  overflow-x: hidden;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  color: #9597A5;
  background-color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  body {
    margin-top: 65px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  min-width: 163px;
  max-width: 163px;
  padding: 8px 16px;
  border: none;
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.4;
}

.section-heading {
  margin: 0;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.7;
  color: #2D314D;
}

@media screen and (max-width: 650px) {
  .section-heading {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.6;
  }
}

.sitenav {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.sitenav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sitenav__controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

@media screen and (max-width: 550px) {
  .sitenav__controller {
    width: 100%;
  }
}

.sitenav__logo-link {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.sitenav__logo {
  display: block;
  width: 139px;
  height: 20px;
}

.sitenav__toggler {
  display: none;
  padding: 0;
  background: none;
  border: none;
  outline: 0;
}

@media screen and (max-width: 550px) {
  .sitenav__toggler {
    display: block;
  }
}

.sitenav__toggler-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 12px;
  background-image: url(../img/menu-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  list-style-type: none;
}

@media screen and (max-width: 550px) {
  .sitenav__list {
    display: none;
  }
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  position: relative;
  display: inline-block;
  padding: 32px 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  text-decoration: none;
}

.sitenav__link:hover {
  color: #2D314D;
}

.sitenav__link:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  content: "";
}

.sitenav__link:active {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .sitenav__button {
    display: none;
  }
}

.sitenav--open .sitenav__toggler-span {
  background-image: url("../img/close-icon.svg");
}

.sitenav--open .sitenav__list-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.sitenav--open .sitenav__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2D314D), to(rgba(45, 49, 77, 0.0001)));
  background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
}

.sitenav--open .sitenav__item {
  background-color: #fff;
  margin-right: 0;
}

.sitenav--open .sitenav__item:first-child {
  border-radius: 4px 4px 0 0;
  padding-top: 32px;
}

.sitenav--open .sitenav__item:last-child {
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
}

.sitenav--open .sitenav__link {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  line-height: 21px;
  color: #2D314D;
  background-color: #fff;
  text-align: center;
}

.sitenav--open .sitenav__link:hover {
  color: #9597A5;
}

.hero {
  position: relative;
  background-color: #fff;
  padding: 170px 0;
}

@media screen and (max-width: 1290px) {
  .hero {
    padding: 120px 0;
  }
}

@media screen and (max-width: 885px) {
  .hero {
    padding: 30px 0;
  }
}

@media screen and (max-width: 650px) {
  .hero {
    padding-top: 0;
    padding-bottom: 88px;
  }
}

.hero__info {
  max-width: 450px;
  margin-right: auto;
}

@media screen and (max-width: 885px) {
  .hero__info {
    max-width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .hero__info {
    max-width: 350px;
  }
}

@media screen and (max-width: 650px) {
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 100%;
  }
}

.hero__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}

@media screen and (max-width: 1030px) {
  .hero__heading {
    font-size: 48px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 885px) {
  .hero__heading {
    font-size: 36px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 650px) {
  .hero__heading {
    margin-top: 16px;
    font-size: 40px;
    line-height: 47px;
  }
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  letter-spacing: -0.3px;
}

@media screen and (max-width: 1030px) {
  .hero__text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 885px) {
  .hero__text {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 650px) {
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.2px;
    margin-bottom: 32px;
  }
}

.hero__picture {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 650px) {
  .hero__picture {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.hero__img {
  width: 820px;
  height: 908px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1290px) {
  .hero__img {
    width: 600px;
    height: 664px;
  }
}

@media screen and (max-width: 1030px) {
  .hero__img {
    width: 500px;
    height: 554px;
  }
}

@media screen and (max-width: 885px) {
  .hero__img {
    width: 300px;
    height: 332px;
  }
}

@media screen and (max-width: 650px) {
  .hero__img {
    width: 600px;
    height: 420px;
  }
}

@media screen and (max-width: 500px) {
  .hero__img {
    width: 500px;
    height: 280px;
  }
}

.features {
  padding-top: 95px;
  padding-bottom: 65px;
  background-color: #F4F5F7;
}

@media screen and (max-width: 650px) {
  .features {
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1150px) {
  .features__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.features__heading {
  max-width: 635px;
  margin-bottom: 16px;
}

@media screen and (max-width: 650px) {
  .features__heading {
    max-width: 500px;
  }
}

.features__text {
  max-width: 635px;
  margin: 0;
  margin-bottom: 72px;
  letter-spacing: -0.3;
}

@media screen and (max-width: 650px) {
  .features__text {
    max-width: 500px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.2;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  list-style-type: none;
}

@media screen and (max-width: 1150px) {
  .features__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 255px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1150px) {
  .features__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 350px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 800px) {
  .features__item {
    max-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .features__item {
    max-width: 400px;
  }
}

.features__item--banking::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-image: url("../img/icon-online.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.features__item--budgeting::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-image: url("../img/icon-budgeting.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.features__item--onboarding::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-image: url("../img/icon-onboarding.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.features__item--api::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-image: url("../img/icon-api.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.features__item-heading {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.4;
  color: #2D314D;
}

@media screen and (max-width: 650px) {
  .features__item-heading {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4;
  }
}

.features__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

@media screen and (max-width: 650px) {
  .features__item-text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.2;
  }
}
/*# sourceMappingURL=main.css.map */